/*FOOTER*/

html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 150px;
}

footer {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #263241;
    padding: 10px 0px 25px 0px;
}

footer p {
    font-size: 13px;
    color: #CCC;
    padding-bottom: 0px;
    margin-bottom: 8px;
}

.foote_bottom_ul_amrc {
    list-style-type: none;
    padding: 0px;
    display: table;
    margin-top: 10px;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto;
}

.foote_bottom_ul_amrc li {
    display: inline;
}

.foote_bottom_ul_amrc li a {
    color: #999;
    margin: 0 12px;
}

.foote_bottom_ul_amrc li a {
    color: #999;
    margin: 0 12px;
}

.foote .dropdown-item:focus, .dropdown-item:hover {
    background-color: transparent;
}

/*ENDFOOTER*/

/*COUNTER*/

.counter {
    background-color: white;
    padding: 20px 0;
    border-radius: 5px;
}

.count-title {
    font-size: 40px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
}

.count-text {
    font-size: 20px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
}

/*ENDCOUNTER*/

header.masthead {
    position: relative;
    overflow: hidden;
    padding-top: calc(7rem + 72px);
    padding-bottom: 7rem;
    background-image: url('https://d1ovtcjitiy70m.cloudfront.net/vi-1/images/rebranding/homeblock_main_desktop.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    background-size: cover
}

.btn-xl {
    text-transform: uppercase;
    padding: 1.5rem 3rem;
    font-size: .9rem;
    font-weight: 700;
    letter-spacing: .1rem;
    border-radius: 5rem;
}

.single-travel {
    margin: 10px 0;
    padding: 20px;
}

.single-travel h2, .single-travel p.small, p.small-cell {
    margin-bottom: 0;
}

.single-travel .btn, .margin-top {
    margin: 15px 0 0 0;
}

.margin-0 {
    margin: 0 !important;
}

.profile-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.profile-image-small {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.cell {
    margin: 20px;
}

